<%= form_with(model: stock_movement) do |form| %>
  <% if stock_movement.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(stock_movement.errors.count, "error") %> prohibited this stock_movement from being saved:</h2>

      <ul>
        <% stock_movement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 <fieldset>
    <div class="mb-3">
      <%= form.label :item_id, "Selecione o Instrumento", class: "form-label" %>
      <%= form.collection_select :item_id, Item.all, :id, :name_item, { prompt: "Escolha um item..." }, { class: "form-select" } %>
    </div>

    <div class="mb-3">
      <%= form.label :movement_date, class: "form-label" %>
      <%= form.datetime_local_field :movement_date, class: "form-control"%>
    </div>

    <div class="mb-3">
      <%= form.label :reason, class: "form-label" %>
      <%= form.text_field :reason, class: "form-control"%>
    </div>

    <div class="mb-3">
      <%= form.label :quantity_stock, class: "form-label" %>
      <%= form.number_field :quantity_stock, class: "form-control" %>
    </div>

    <div class="mt-3 d-flex gap-2">
        <%= form.submit "Lançar movimentação de estoque", class: "btn btn-primary" %>
        <%= link_to stock_movements_path, class: "btn btn-secondary" do %>
          <i class="bi bi-arrow-left"></i> Voltar para movimentação
        <% end %>
    </div>
  </fieldset>
<% end %>