<div id="<%= dom_id stock_movement %>">
  <p>
    <strong><%= StockMovement.human_attribute_name(:movement_date) %></strong>
    <%= stock_movement.movement_date %>
  </p>

  <p>
    <strong><%= StockMovement.human_attribute_name(:reason) %></strong>
    <%= stock_movement.reason %>
  </p>

  <p>
    <strong><%= StockMovement.human_attribute_name(:item) %></strong>
    <%= stock_movement.item&.name_item %>
  </p>

</div>
