<div id="<%= dom_id stock_movement %>">
  <div class="row g-3 text-start">
    <div class="col-12 order-bottom pb-2">
        <span class="text-muted small d-block"><%= StockMovement.human_attribute_name(:movement_date) %></span>
        <strong><%= l(stock_movement.movement_date, format: :default) %></strong>
    </div>

    <div class="col-12 border-bottom pb-2">
      <span class="text-muted small d-block"><%= StockMovement.human_attribute_name(:reason) %></span>
      <strong><%= stock_movement.reason %></strong>
    </div>

    <div class="col-12 border-bottom pb-2">
      <span class="text-muted small d-block"><%= StockMovement.human_attribute_name(:quantity) %></span>
      <strong class="text-primary"><%= stock_movement.quantity_stock %></strong>
    </div>

    <div class="col-12 pb-2">
      <span class="text-muted small d-block">Item</span>
      <p class="mb-0 fw-bold"><%= stock_movement.item&.name_item %></p>
    </div>
  </div>
</div>