<% content_for :title, "Stock movements" %>

<div class="d-flex align-items-center justify-content-between mb-4">
  <h1 class="mb-0 fw-bold text-dark">Estoque</h1>
  <%= link_to new_stock_movement_path, class: "btn btn-success" do %>
    <i class="bi bi-plus-lg"></i> Realizar movimentação de estoque
  <% end %>
</div>
<div class="card mb-4 bg-light">
  <div class="card-body">
    <%= search_form_for @q, class: "row g-3 align-items-end" do |f| %>
      
      <div class="col-md-5">
        <%= f.label :item_id_eq, "Filtrar por Item", class: "form-label fw-bold" %>
        <%= f.collection_select :item_id_eq, Item.all, :id, :name_item, { include_blank: "Todos os Itens" }, { class: "form-select" } %>
      </div>

      <div class="col-md-5">
  <%= f.label :movement_date_eq, "Data da Movimentação", class: "form-label fw-bold" %>
  <%= f.date_field :movement_date_eq, class: "form-control" %>
</div>

      <div class="col-md-2">
        <%= f.submit "Filtrar", class: "btn btn-primary w-100" %>
      </div>
    <% end %>
  </div>
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"><%= StockMovement.human_attribute_name(:movement_date) %></th>
      <th scope="col"><%= StockMovement.human_attribute_name(:reason) %></th>
      <th scope="col"><%= StockMovement.human_attribute_name(:item)%></th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @stock_movements.each do |stock_movement| %>
      <tr>
        <td><%= l(stock_movement.movement_date) %></td>
        <td><%= stock_movement.reason %></td>
        <td><%= stock_movement.item.name_item %></td>
        <td>
          <div class="btn-group" role="group">
            <%= link_to stock_movement, class: "btn btn-sm btn-info", title: "Ver" do %>
            <i class="bi bi-eye"></i> Ver
          <% end %>
          </div>
          </div>
        </tr>
    <% end %>
  </tbody>
</table>