<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div style="alert alert-danger">
      <h2><%= pluralize(item.errors.count, "error") %> esse item não pode ser salvo </h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="mb-3">
     <%= form.label :name_item, class: "form-label" %>
      <%= form.text_field :name_item, class: "form-control"%>
    </div>

    <div class="mb-3">
      <%= form.label :quantity_item, class: "form-label" %>
      <%= form.number_field :quantity_item, class: "form-control"%>
    </div>

    <div class="mb-3">
      <%= form.label :price_item, class: "form-label" %>
      <%= form.text_field :price_item, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :sku, "Código SKU", class: "form-label" %>
      <%= form.text_field :sku, class: "form-control", placeholder: "Ex: GUI-FEN-001" %>
    </div>

    <div class="mb-3">
      <%= form.label :price_brl, "Preço em Reais (BRL)", class: "form-label" %>
      <%= form.number_field :price_brl, step: :any, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :condition, class: "form-label" %>
      <%= form.text_field :condition, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :category_id, class: "form-label" %>
      <%= form.collection_select :category_id, Category.all, :id, :name_category, {}, { class: "form-select" } %>
    </div>

    <div class="mb-3">
      <%= form.label :brand_id, class: "form-label"%>
      <%= form.collection_select :brand_id, Brand.all, :id, :name_brand, {}, { class: "form-select" } %>
    </div>

    <div class="mt-3 d-flex gap-2">
      <%= form.submit (@item.new_record? ? "Criar Item" : "Salvar Alterações"), class: "btn btn-primary" %>

      <%= link_to items_path, class: "btn btn-secondary" do %>
        <i class="bi bi-arrow-left"></i> Voltar para itens
      <% end %>
    </div>
</fieldset>
<% end %>