<div id="<%= dom_id item %>">
  <p>
    <strong>Name item:</strong>
    <%= item.name_item %>
  </p>

  <p>
    <strong>Quantity item:</strong>
    <%= item.quantity_item %>
  </p>

  <p>
    <strong>Price item:</strong>
    <%= item.price_item %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= item.condition %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= item.category_id %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= item.brand_id %>
  </p>

</div>
