<%= form_with(model: category) do |form| %>
  <% if category.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
    <div class="mb-3">
     <%= form.label :name_category, class: "form-label" %>
      <%= form.text_field :name_category, class: "form-control"%>
    </div>

    <div class="mt-3">
          <%= form.submit "Criar Item", class: "btn btn-primary" %>
        </div>
  </fieldset>
<% end %>