<%= stylesheet_link_tag "sidebar", "data-turbo-track": "reload" %>
<div id="sidebar-wrapper">
  <input type="checkbox" id="sidebar-check" class="d-none">

  <div id="sidebar" class="d-flex flex-column flex-shrink-0 p-3 shadow-lg">
    
    <div class="d-flex align-items-center justify-content-between mb-4">
      <a href="/" class="d-flex align-items-center text-decoration-none overflow-hidden">
        <div class="bg-danger rounded-3 p-2 me-2 d-flex align-items-center justify-content-center" style="min-width: 40px; height: 40px;">
           <i class="bi bi-music-note-beamed fs-4 text-white"></i>
        </div>
        <span class="fs-5 fw-bold sidebar-text text-nowrap">Melory Music</span>
      </a>

      <label for="sidebar-check" class="btn btn-sm border-0 p-0" style="cursor: pointer;">
        <i class="bi bi-chevron-left fs-5 text-white" id="side-icon"></i>
      </label>
    </div>

    <div class="small text-uppercase text-secondary mb-2 sidebar-text">Menu</div>
    
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item mb-1">
        <%= link_to dashboard_path, class: "nav-link d-flex align-items-center px-2 py-2 #{current_page?(dashboard_path) ? 'active-link': ''}" do %>
          <i class="bi bi-house-door fs-5 me-3"></i> 
          <span class="sidebar-text">Dashboard</span>
        <% end %>
      </li>
      <li class="nav-item mb-1">
        <%= link_to stock_movements_path, class: "nav-link d-flex align-items-center px-2 py-2 #{current_page?(stock_movements_path) ? 'active-link': ''}" do %>
          <i class="bi bi-archive fs-5 me-3"></i> 
          <span class="sidebar-text">Estoque</span>
        <% end %>
      </li>
      <li class="nav-item mb-1">
        <%= link_to items_path, class: "nav-link d-flex align-items-center px-2 py-2 #{current_page?(items_path) ? 'active-link': ''}" do %>
          <i class="bi bi-box fs-5 me-3"></i> 
          <span class="sidebar-text">Items</span>
        <% end %>
      </li>
      <li class="nav-item mb-1">
        <%= link_to brands_path, class: "nav-link d-flex align-items-center px-2 py-2 #{current_page?(brands_path) ? 'active-link' : ''}" do %>
          <i class="bi bi-tag fs-5 me-3"></i> 
          <span class="sidebar-text">Marcas</span>
        <% end %>
      </li>
      <li class="nav-item mb-1">
        <%= link_to categories_path, class: "nav-link d-flex align-items-center px-2 py-2 #{current_page?(categories_path) ? 'active-link' : ''}" do %>
          <i class="bi bi-grid fs-5 me-3"></i> 
          <span class="sidebar-text">Categorias</span>
        <% end %>
      </li>
      
      <hr class="text-secondary mx-2">
      
      <li class="nav-item">
        <%= link_to home_path, class: "nav-link d-flex align-items-center px-2 py-2" do %>
          <i class="bi bi-box-arrow-left fs-5 me-3"></i> <span class="sidebar-text">Voltar ao início</span>
        <% end %>
      </li>
    </ul>
  </div>
</div>